parameters:
	level: 9
	paths:
		- src
		- tests

	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
	    - '#has no value type specified in iterable#'
	    - '#with no value type specified in iterable#'